.navbar{
    padding: 10px;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    align-content: center;
    box-shadow: black 10px 1px 20px;
    scroll-behavior: smooth;
    transition: 2s;
}
div.navbar-brand{
    display: flex;
    justify-content: left;
    align-items: center;
}
div.navbar-brand h2{
    padding-left: 20px;
    color: #4d4dbe;
    white-space: nowrap;
}
div.navs{
    position: relative;
    transition:all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.navbar-brand h2{
    white-space: nowrap;
}
ul.navbarmenus{
    display: flex;
    list-style-type: none;
    justify-content: right;
    transition: 3s;
}
li.navitem{
    padding-right: 10px;
}
li.navitem a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}
.mobile-menu span{
    font-size: 30px;
    display: none;
}
@media screen and (max-width:635px){
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    div.navs{
        display: none;
    }
    
    .mobile-menu span{
        display: block;
    }
    div.navsactive{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 25px;
        transition: 3s;
    }
    ul.navbarmenus{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: right;
        position: absolute;
        width: 300px;
        transition: 2s;
        z-index: 1000;
    }
    ul.navbarmenus li{
        padding: 5px;
        background-color: white;
        border-bottom: 1px solid black;
    }
    ul.navbarmenus li:first-child{
        border-top: 1px solid black;
    }
    div.navbar-brand{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.navbar-brand h2{
        padding-right: 15px;
        color: #4d4dbe;
        white-space: nowrap;
    }
}