.swiper {
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    transition: 1s;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top;
    transition: 1s;
  }
.slideContent{
  position: relative;
  width: 100%;
}
.sliderComment{
  background-color: rgba(5, 5, 5, 0.308);
  position: absolute;
  top: 35%;
  color: white;
  left: 5%;
  height: 200px;
  padding: 20px;
  width: fit-content;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  white-space: nowrap;
}
.sliderComment h2{
  text-decoration: none;
  color: wheat;
  border-bottom: 1px solid red;
  font-size: 20px;
}
.description{
  color: wheat;
  text-transform:initial;
  font-size: 15px;
}
.cta button{
  padding: 5px 15px;
  border:none;
  border-left: 5px solid yellow;
  height: 40px;
  width: fit-content;
  background-color: #ff00007f;
  color: white;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.btn-content{
  display: flex;
  padding: 10px;
  align-items: center;
}
.btn-icon{
  margin-right: 10px;
}
.btn-label{
  white-space: nowrap;
  margin-right:2px ;
}
.btn-label::after{
  content: " ...";
}
@media screen and (max-width:680px){
  .sliderComment{
    background-color: rgba(5, 5, 5, 0.308);
    position: absolute;
    top: 25%;
    color: white;
    left: 1%;
    height: 200px;
    padding: 20px;
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    white-space: normal;
  }
}