.topbar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    /* justify-items: center; */
    width: 100%;
    height: 30px;
    background-color: red;
}
ul.socials{
    display: flex;
    list-style-type: none;
    padding-left:20px;
    position: relative;
}
ul.socials li{
    padding:0px 5px;
}
ul.socials li.socialItem a{
    text-decoration: none;
    color: white;
    cursor: default;
    font-weight: bold;
    font-size: 20px;
}
ul.MenuLists{
    display: flex;
    list-style: none
}
li.menuItem{
    padding-left:20px;
}
li.menuItem a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
}